{% extends 'main/base.html' %}
{% block content%}
	<br>
<div class="" style="margin: 1%; padding: 3%">

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Profile:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Edit your profile</a>

		</div>
	</div>


	<div class="col-md">
		<div class="card card-body">
			<h5>Orders pending</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{ pending_orders }}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>

</div>
<br>


      <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Date Ordered</th>
                        <th>Order Status</th>
                        <th></th>

                    </tr>
                      {% for order in orders %}
                    <tr>
                        <th>  {{order.product.name}}</th>
                        <th>  {{order.product.price}}</th>

                        <th>  {{order.date_created}}</th>
                        <th>  {{order.product.category}}</th>
                        <th>  {{order.status}}</th>
                        <th> <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'main:updateorder' order.id %}">Update</a></th>




                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}