{% extends 'main/bootstrap.html' %}

{% block content%}
<div class="container" style="margin: 1%; padding: 3%">

<h1>Hello, {{ username }}</h1>
   {% for card in cards %}

    <p>We charged your credit card {{ card.card_number_enc }}</p>


    {% endfor %}
    <br>
<div style="margin: 1%; padding: 3%">
<div class="row" >


<br>

<br>


      <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Date Ordered</th>
                        <th>Order Status</th>

                    </tr>
                      {% for order in orders %}
                    <tr>
                        <th>  {{order.product.name}}</th>
                        <th>  {{order.product.price}}</th>

                        <th>  {{order.date_created}}</th>
                        <th>  {{order.product.category}}</th>
                        <th>  {{order.status}}</th>




                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}