
{% extends 'main/base.html' %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-3">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">PRODUCTS</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">ORDERS</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">INTERNS</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">INVOICES</a>
          </div>
        </div>
        <div class="col-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <br>
            
            <div class="row">
                <div class="col-md">
                    <div class="card card-body">
                        <h5>Customer:</h5>
                        <hr>
                        <a class="btn btn-outline-info  btn-sm btn-block" href="">Update Customer</a>
                        <a class="btn btn-outline-danger  btn-sm btn-block" href="">Delete Customer</a>
            
                    </div>
                </div>
            
                <div class="col-md">
                    <div class="card card-body">
                        <h5>Contact Information</h5>
                        <hr>
                        <p>Email: </p>
                        <p>Phone: </p>
                    </div>
                </div>
            
                <div class="col-md">
                    <div class="card card-body">
                        <h5>Total Orders</h5>
                        <hr>
                        <h1 style="text-align: center;padding: 10px"></h1>
                    </div>
                </div>
            </div>
            
            
            <br>
            <div class="row">
                <div class="col">
                    <div class="card card-body">
                        <form method="get">
            
                        <button class="btn btn-primary" type="submit">Search</button>
                      </form>
                    </div>
                </div>
                
            </div>
            <br>
            
            <div class="row">
                <div class="col-md">
                    <div class="card card-body">
                        <table class="table table-sm">
                            <tr>
                                <th>Product</th>
                                <th>Category</th>
                                <th>Date Orderd</th>
                                <th>Status</th>
                                <th>Update</th>
                                <th>Remove</th>
                            </tr>
            
                        </table>
                    </div>
                </div>
            </div></div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                
	<br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Customer:</h5>
                <hr>
                <a class="btn btn-outline-info  btn-sm btn-block" href="">Update Customer</a>
                <a class="btn btn-outline-danger  btn-sm btn-block" href="">Delete Customer</a>
    
            </div>
        </div>
    
        <div class="col-md">
            <div class="card card-body">
                <h5>Contact Information</h5>
                <hr>
                <p>Email: </p>
                <p>Phone: </p>
            </div>
        </div>
    
        <div class="col-md">
            <div class="card card-body">
                <h5>Total Orders</h5>
                <hr>
                <h1 style="text-align: center;padding: 10px"></h1>
            </div>
        </div>
    </div>
    
    
    <br>
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <form method="get">
    
                <button class="btn btn-primary" type="submit">Search</button>
              </form>
            </div>
        </div>
        
    </div>
    <br>
    
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Date Orderd</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
    
                </table>
            </div>
        </div>
    </div>

            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                
	<br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Customer:</h5>
                <hr>
                <a class="btn btn-outline-info  btn-sm btn-block" href="">Update Customer</a>
                <a class="btn btn-outline-danger  btn-sm btn-block" href="">Delete Customer</a>
    
            </div>
        </div>
    
        <div class="col-md">
            <div class="card card-body">
                <h5>Contact Information</h5>
                <hr>
                <p>Email: </p>
                <p>Phone: </p>
            </div>
        </div>
    
        <div class="col-md">
            <div class="card card-body">
                <h5>Total Orders</h5>
                <hr>
                <h1 style="text-align: center;padding: 10px"></h1>
            </div>
        </div>
    </div>
    
    
    <br>
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <form method="get">
    
                <button class="btn btn-primary" type="submit">Search</button>
              </form>
            </div>
        </div>
        
    </div>
    <br>
    
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Date Orderd</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
    
                </table>
            </div>
        </div>
    </div>
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                
	<br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <h5>Customer:</h5>
                <hr>
                <a class="btn btn-outline-info  btn-sm btn-block" href="">Update Customer</a>
                <a class="btn btn-outline-danger  btn-sm btn-block" href="">Delete Customer</a>
    
            </div>
        </div>
    
        <div class="col-md">
            <div class="card card-body">
                <h5>Contact Information</h5>
                <hr>
                <p>Email: </p>
                <p>Phone: </p>
            </div>
        </div>
    
        <div class="col-md">
            <div class="card card-body">
                <h5>Total Orders</h5>
                <hr>
                <h1 style="text-align: center;padding: 10px"></h1>
            </div>
        </div>
    </div>
    
    
    <br>
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <form method="get">
    
                <button class="btn btn-primary" type="submit">Search</button>
              </form>
            </div>
        </div>
        
    </div>
    <br>
    
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Date Orderd</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
    
                </table>
            </div>
        </div>
    </div>
            </div>
          </div>
        </div>
      </div>

</div>>

{% endblock %}